body {
  font-family: arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: transparent;
}

.container {
  height: 100vh;
  background: url("../img/fullstack.png") center / cover no-repeat;
  padding: 15px;
}

.nav {
  width: fit-content;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  margin: 0 auto;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.nav__item:hover .nav__link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav__link {
  padding: 5px;
  color: greenyellow;
}
