@import url("../../../css/back-to-home-works.css");

.carousel-img {
  width: 240px;
  aspect-ratio: 9/12;
  font-size: 25px;
  color: white;
}

.header {
  background: yellowgreen;
}

.left {
  background: violet;
}

.main {
  background: seagreen;
}

.right {
  background: khaki;
}

.footer {
  background: darkcyan;
  text-transform: uppercase;
  color: white;
}
