* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

table {
  margin-bottom: 20px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 20px;
}

.styled-table {
  border: 1px solid #000;
  width: 400px;
  height: 200px;
  border-spacing: 10px;
}

.styled-table td {
  border: 1px solid #000;
  padding: 5px;
}
